* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.top{
    margin-top: 4rem;
}

/* Wave-animation*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ----------------------------------------------------------------------- */

/* Home container start */
.Home-main-container {
    background: #22278d;
    color: #fefefe;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Intro container */
.Home-intro-container {
    width: 528px;
    margin: 0px 50px 0;
    transition: 0.3s ease;
}

/* Greeting and Name Styling */
.Home-greeting {
    font-size: 2.3rem;
    padding-bottom: 20px;
}

/* Name Styling */
.Home-name {
    font-size: 2.3rem;
    padding-bottom: 25px;
}

/* Typewriter Styling */
.name-styling {
    color: #7a9fe3;
    font-weight: 600;
}

.Typewriter__wrapper {
    font-size: 2.3em;
    color: #7a9fe3;
    font-weight: 600;
}

.Typewriter__cursor {
    font-size: 2.4em;
    color: #7a9fe3;
}
.typewriter-container{
    height: 90px;
}

/* Hire me button */
.home-hire-me{
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 550;
    color: #22278d;
    background-color: #8eb6ff;
    box-shadow: 4px 3px 3px 4px #8eb6ff4e;
    transition: 0.4s ease-in-out;
}
.home-hire-me:hover{
    box-shadow: none;
    cursor: pointer;
}

/* Logo Styling */
.home-logo {
    width: 500px;
    transition: 0.3s ease;
}

/* Home container ends */


/* Media Queries */
@media only screen and (max-width: 1154px) {
    .home-logo {
        width: 450px;
    }
}

@media only screen and (max-width: 992px) {
    .home-logo {
        width: 400px;
        margin: 0 0px 30px 0;
    }
    .Typewriter__wrapper {
        font-size: 1.9rem;
    }
    .Home-intro-container{
        margin: 0 45px 0 0;
    }
}

@media only screen and (max-width: 792px) {
    .home-logo {
        margin: 0 0 30px 0;
    }
    .Home-intro-container {
        max-width: 400px;
        margin: auto;
    }
}

@media only screen and (max-width: 769px) {
    .Home-main-container {
        flex-direction: column;
        padding-top: 65px;
    }
    .Home-intro-container{
        text-align: center;
    }
    .home-logo {
        width: 350px;
    }
    .Home-name {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 565px) {
    .Home-intro-container {
        align-items: center;
        margin:auto;
    }
}

@media only screen and (max-width: 420px) {
    .Home-intro-container {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }
    .home-logo {
        width: 100%;
        max-width: 290px;
    }
}