/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
} */

.Contact-main-container {
    background: #353bb6;
    color: #fefefe;
    min-height: 100vh;
}